* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
    font-family: sans-serif;
}

main {
    margin-top: 90px;
    flex: 1;
    margin-left: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(145, 143, 143, 50%);
    font-size: 1.5rem;
    height: 90px;
    }

.logo-name {
    margin-left: 60px;
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
}

.logo-name p {
    text-align: center;
    
}

.navbar-links {
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-right: 30px;
    }

nav ul li {
    padding: 1rem;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar-links a:hover {
    color: rgb(9, 207, 141);
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 60px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#content-wrap {
    flex: 1;
}

/* .language-select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 60px;
} */

.language-select-wrapper {
    list-style: none; /* Removes bullet points from li elements */
    margin: 0;
    /* padding: .5rem 1rem; */
    text-align: center;
}

/* .language-select-form {
    margin-right: 60;
} */


/** Index **/

.hero {
    /* margin-top: 90px; */
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/index_hero_img.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.hero-content {
    text-align: center; /* Aligns the text and img element to the center */
}

.hero-image {
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the block element */
}

/* .hero h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}

.hero p {
    color: white;
    text-align: center;
} */

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    /* height: 75vh; */
    align-items: center;
    gap: 20px;
    border-bottom: 0.5px solid rgb(182, 182, 182);
}

section:is(:last-child) {
    border-bottom: none;
}

section h2 {
    margin-top: 0;
}

section img {
    width: 100%;
    max-height: 60vh;
    overflow: hidden;
}

/* ********* Footer ******** */
#myFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2; /* Light grey background */
    padding: 10px 0; /* Add some padding to top and bottom */
    border-top: 1px solid rgba(145, 143, 143, 50%);
    position: relative;
    font-size: 1rem;
}

#footer-info {
    margin-left: 60px;
}

#footer-links {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-links a {
    margin-right: 20px;
    color: #333; /* Dark grey text */
    text-decoration: none; /* Remove underline */
    font-weight: 600; /* Make the text a bit bolder */
    padding: 5px 10px; /* Add some padding */
}

#footer-links a:not(:last-child) {
    margin-right: 20px;
}

#footer-links a:hover {
    color: #0056b3; /* Change color when hovered */
    text-decoration: underline; /* Underline when hovered */
}

/* ********* Generic content for detailed pages ******** */

.image-overlay-container {
    position: relative;
    display: inline-block; /* Or 'block', depending on your layout needs */
    width: 100%;
}

.about-main-img {
    width: 100%; /* Ensure the image covers the container's width */
    display: block; /* Remove any default margin/padding */
    max-height: 60vh;
    overflow: hidden;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 10px; /* Adjust as needed for exact positioning */
    left: 20px; /* Adjust as needed for exact positioning */
    color: white; /* Ensures the text stands out; adjust based on your image */
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 5px; /* Optional: Adds some padding around the text */
    font-size: 5rem;
    margin-bottom: 10px;
}

/* ********* About us ******** */

.about-main {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    /* justify-content: space-between; */
    border-bottom: none;
    margin-left: 10%;
    margin-right: 60px;
}

.about-text {
    max-width: 550px;
}

.quote {
    font-weight: bold;
    margin: 20px 0; 
    padding: 10px 20px; 
    /* border-top: 2px solid #000;  */
    /* border-bottom: 2px solid #000;  */
    border-left: 2px solid #000; 
    /* background-color: #f9f9f9;  */
    position: relative; 
    margin-left: 10px; 
    margin-right: 10px;
    max-width: 400px;
}

.about-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    flex-grow: 1;
    gap: 500px;
}

.side-img {
    width: 400px;
    height: 300px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    
    
}

.side-img-round {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    /* position: relative;
    top: -200px; */
    
}

/* ********* Treatments ******** */

.treatment-li {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 20px 0; 
    padding: 0px 20px; 
    border-left: 2px solid #000; 
    /* border-right: 2px solid #000;  */
    position: relative; 
    margin-left: 10px; 
    margin-right: 10px;
    max-width: 500px;
    height: 90px;
}

.doctor-site {
    background-color: #f9f9f9; /* Light background to make the item pop */
    border: 1px solid #ccc; /* Subtle border for definition */
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Soft shadow for a "pop-out" effect */
    padding: 15px; /* Padding inside each item for content spacing */
    border-radius: 5px; /* Slightly rounded corners for a softer look */
}

.staff-on-site {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 columns */
    grid-gap: 20px; /* Adds space between the grid items */
    padding: 20px; /* Padding around the entire grid for spacing */
}

.staff-site-member {
    background-color: #f9f9f9; /* Light background to make the item pop */
    border: 1px solid #ccc; /* Subtle border for definition */
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* Soft shadow for a "pop-out" effect */
    padding: 15px; /* Padding inside each item for content spacing */
    border-radius: 5px; /* Slightly rounded corners for a softer look */
}

.schedule-timeline {
    max-width: 600px;
    margin: 0 auto;
    font-weight: bold;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%); /* Ensures the line is perfectly centered */
    left: 20px;
    width: 4px;
    background-color: #ddd; /* Line color */
}

.timeline li {
    position: relative;
    padding: 20px 0;
    padding-left: 60px;
}

.timeline li::before {
    content: '';
    position: absolute;
    left: 15px; /* Position the bullet to the left of the text, adjust as needed */
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #555; /* Dot color */
    top: 50%;
    transform: translateY(-50%); /* Center the bullet vertically */
}


/* ********* Our staff ******** */

.our-team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 120px;
    text-decoration: none;
    color: inherit;
}

.our-team a {
    text-decoration: none;
    color: inherit;
}

.team-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.name {
    color: green; /* Sets the color of the name to green */
    text-align: center; /* Centers the name text horizontally */
    margin: 0; /* Removes default margin from the h2 tag if necessary */
    width: 100%; /* Ensures the name occupies the full width available */
}

.staff-title {
    text-align: center; /* Centers the staff title text horizontally */
    color: #000; /* Sets the color of the staff title to black or any desired color */
    margin: 0; /* Adjust or add to manage spacing */
}

.small-profile-pic {
    width: 40%;
    border-radius: 50%;
    height: 40%;
    display: block;
    object-fit: cover;
}

.team-person-detail {
    margin-top: 20px;
}

.about-side-2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 60px;
    width: 100%;
    flex-grow: 1;
    /* gap: 500px; */
}

.large-profile-pic {
    display: block;
    width: 300px; /* Set width and height to ensure a circle */
    height: 300px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area, cropping as necessary */
    margin-left: 20px; /* Optional: Adds some space between the text and the image */
}

/* ********* News ******** */

.news-main {
    width: 80%;
    margin: auto;
    margin-top: 90px;
}

.news-entry {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    clear: both;  /* Clear float */
}

.news-headline {
    font-size: 24px;
    margin-bottom: 10px;
}

.news-image {
    float: left; /* Float the image */
    max-width: 50%;
    margin-right: 20px;  /* Space between the image and text */
    margin-bottom: 20px;  /* Space below the image */
}

.news-text {
    font-size: 16px;
    line-height: 1.5;
}

.news-date {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}


/** FAQ  **/

.faq-main {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 90px;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    background-color: #f2f2f2; /* Light grey background */
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.faq-answer.hidden {
    display: none;
}

.faq-answer {
    margin-left: 1rem;
    transition: max-height 0.2s ease-out;
}

/** Contact Us **/

.contact-main {
    margin-top: 90px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    /* padding: 15px; */
    /* background-color: #EBFAF2; */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-title-info {
    /* background-color: #EBFAF2; */
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title-info h3 {
    margin-bottom: 5px;
}

.contact-title-info p {
    font-style: italic;
    font-size: 0.8rem;
}

.contact-form {
    width: 80%;
    margin: auto;
}

.contact-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-field:first-child {
    margin-right: 15px;
}

.form-field {
    margin-bottom: 20px;
    font-size: 1rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    resize: none;
    height: 150px;
  }  

.btn {
    background-color: #6e6b6b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #333;
}
  
/** contact success page **/
.contact-success-card {
    width: 80%;
    max-width: 400px;
    margin: 110px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-success-card h1,
.contact-success-card p {
    margin-bottom: 20px;
}

.contact-success-card a {
    text-decoration: none;
    color: #6e6b6b;
    padding: 10px;
    border: 1px solid #6e6b6b;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-success-card a:hover {
    background-color: #333;
    color: white;
}


/** responsive mobile **/

@media (max-width: 1150px) {
    .toggle-button {
        display: flex;   
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: white;
        flex-direction: column;
        border-top: 0.5px solid rgb(182, 182, 182);
        border-bottom: 0.5px solid rgb(182, 182, 182);
        position: relative;
        margin: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-name {
        margin-top: 10px;
    }

    .logo-name img {
        height: 50px;
    }

    .navbar-links li {
        text-align: center;
        padding: 1px;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 650px) {
        section {
            grid-template-columns: 1fr;
            margin-top: 90px;
            gap: 75px;
        }

        #myFooter {
            flex-direction: column;
        }

        #footer-links, #footer-info {
            margin: 0;
        }

        /* reversera ordning så bild hamnar överst */

        .section-text {
            order: 2;
        }
        
        .profile-pic {
            margin: auto;
        }

        @media (max-width: 540px) {
            .logo-name {
                margin-left: 30px;
            }

            .toggle-button {
                right: 30px;
            }

            section {
                gap: 25px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
        
    }
}