{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>SYNAPCTIC</title>{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/"><div class="logo-name"><img src="{% static 'images/logo-symbol-blue.png' %}" alt="Logo" height="75px"><img src="{% static 'images/logo-name&slogan-black.jpg' %}" alt="Logo" height="75px"></div></a>
        <a href="#" class="toggle-button" onclick="navbarExpand()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <ul class="navbar-links">
            <li><a href="/about/">{% trans 'About us' %}</a></li>
            <li><a href="/news">{% trans 'News' %}</a></li>
            <li><a href="/staff/">{% trans 'Our staff' %}</a></li>
            <li><a href="/faq/">{% trans 'FAQ' %}</a></li>
            <li><a href="/contact_us/">{% trans 'Contact Us' %}</a></li>
            <li class="language-select-wrapper">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected {% endif %}>
                                {{ lang.1 }} <!-- Display language name -->
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>
        </nav>
    </header>

<div id="content-wrap">
{% block content %}
{% endblock %}
</div>

<footer id="myFooter">
    <div id="footer-info">
        <p>SYNAPTIC Mind Care Therapeutics AB © 2023</p>
    </div>
    <div id="footer-links">
        <a href="/privacy/">{% trans 'Website Privacy Notice' %}</a>
        <a href="/cookies/">{% trans 'Cookies' %}</a>
        <a href="#" id="toTop">{% trans 'To the top' %}&#8593;</a>
    </div>
</footer>

</body>
</html>