{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>{% trans 'SYNAPTIC - about our clinic' %}</title>{% endblock %}
</head>
<body>
    {% block content %}
    <main>
        <div class="image-overlay-container">
            <img src="{% static 'images/venue.jpg' %}" alt="" class="about-main-img">
            <h2 class="overlay-text">{% trans 'About us' %}</h2>
        </div>

        <div class="about-main">
            <div class="about-text">
                
                <h3>{% trans 'Welcome to Synaptic MindCare – A New Perspective on Mental Health and Recovery' %}</h3>

                <p>{% trans 'Located in the picturesque landscape of Greece, Synaptic MindCare is redefining psychiatric care by introducing a holistic model that encompasses a broad spectrum of psychiatric conditions, including treatments for treatment-resistant depression, anxiety, geriatric psychiatry, and integrated substance use care. By acknowledging the intricate link between mental health conditions and the individual and social factors influencing them, we aim to provide care that comprehensively addresses the whole person.' %}</p>

                <p>{% trans 'Our approach is grounded in the belief that each individual is unique, leading us to offer flexible and personalized treatment plans. Our team, composed of experts with a wide range of experience in psychiatric conditions, is committed to delivering compassionate and effective care. Our medical professionals, including doctors, psychologists, and nurses, are all trained in contemporary psychiatric and substance use care therapies, ensuring a non-judgmental and empathetic treatment environment.' %}</p>
                <div class="quote">{% trans "We are equipped to manage both general and neuropsychiatric conditions, understanding the complexity of these issues and their mutual impact." %}</div>
                <p>{% trans "We are equipped to manage both general and neuropsychiatric conditions, understanding the complexity of these issues and their mutual impact. This enables us to formulate holistic treatment plans that target not just the symptoms but also the root causes, whether it's anxiety, depression, ADHD, or other psychiatric diagnoses. Additionally, our substance use treatment is seamlessly integrated into our overall care, customized to meet the specific needs of each individual without being the focal point of our services." %}</p>

                <p>{% trans 'As the currently sole Swedish concept for substance use treatment outside of the regional clinics, Synaptic MindCare distinguishes itself by providing comprehensive psychiatric care, including access to innovative treatments like ketamine therapy for treatment-resistant depression. This capability is enhanced by our partnership with the GALENE clinic, established in 1971 and renowned for its world-class psychiatric services.' %}</p>
                <div class="quote">{% trans "Committed to staying at the forefront of research and advancements in our field, we ensure our clients receive the most effective, evidence-based treatments available." %}</div>
                <p>{% trans 'Committed to staying at the forefront of research and advancements in our field, we ensure our clients receive the most effective, evidence-based treatments available. Our mission is to guide each individual towards not just recovery, but a richer, more meaningful life.'%}</p>
                
                <p>{% trans 'Synaptic MindCare is here to accompany you on your journey towards recovery and self-discovery. We recognize that improving mental health is a deeply personal journey, fraught with challenges but also filled with opportunities. Our dedicated team is ready to provide the support and expertise needed at every step of your journey. For a closer look at the environment we offer our patients, you are welcome to read more about our collaboration with the GALENE clinic and view pictures on their website.' %}</p>
                <p><a href="https://galene.gr/">{% trans "GALENE's website" %}</a>.</p>
            </div>
            <div class="about-side">
                <img src="{% static 'images/therapy-session.jpg' %}" alt="" class="side-img">
                <img src="{% static 'images/sunflower.jpg' %}" alt="" class="side-img">
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>