{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>{% trans 'Contact Us - succeeded!' %}</title>{% endblock %}
</head>
<body>
{% block content %}

<div class="contact-success-card">
    <h1>{% trans 'Thank you for contacting us!' %}</h1>
    <p>{% trans "We'll get back to you shortly." %}</p>
    <a href="/">{% trans 'Back to homepage' %}</a>
</div>

{% endblock %}

</body>
</html>