{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>Welcome to Synaptic</title>{% endblock %}
</head>
<body>
    {% block content %}
    <section class="hero">
        <div class="hero-content">
            <img src="{% static 'images/logo-slogan-white.png' %}" alt="Descriptive text" class="hero-image"/>
        </div>
        <!-- <h1>A different rehab clinic</h1>
        <p>We provide the best treatment options for individuals struggling with addiction.</p> -->
        <!-- <a href="#contact" class="cta-button">Contact Us</a> -->
    </section>

    <main>
        <section id="about">
            <img src="{% static 'images/about-index.jpg' %}" alt="">
            <div class="section-text">
                <h2>About Us</h2>
                <p>We are newly started clinic through the collaboration between Swedish and Greek psychiatrist with decades of experience in treating addiction. </p> 
                <p>Our center is hosted within the <a href="https://galene.gr/"> GALENE clinic facilities</a>, in the north-east of Athens. Our staff is highly qualified and experienced, and our treatment program is tailored to the individual needs of each patient.</p>
            </div>
        </section>
        <section id="programs">
            <div class="section-text">
                <h2>Our Treatment Programs</h2>
                <ul>
                    <li>Inpatient Program</li>
                    <li>Outpatient Program</li>
                    <li>Family Program</li>
                </ul>
            </div>
            <img src="{% static 'images/our-programs-img.jpg' %}" alt="">
        </section>
        <section id="staff">
            <img src="{% static 'images/staff-img.jpg' %}" alt="">
            <div class="section-text">
                <h2>Meet Our Staff</h2>
                <ul>
                    <li>John Smith, MD</li>
                    <li>Jane Doe, RN</li>
                    <li>Bob Johnson, LCSW</li>
                </ul>
            </div>
        </section>
        <!-- <section id="testimonials">
          <h2>Testimonials</h2>
          <blockquote>
            <p>I never thought I could overcome my alcoholism, but the treatment I received at this rehab center has changed my life. I am forever grateful.</p>
            <cite>- Mary Johnson</cite>
          </blockquote>
        </section> -->
        <section id="faq">
            <div class="section-text">
                <h2>Frequently Asked Questions</h2>
                <p>We understand that you may have questions about our center and treatment programs. Please visit our <a href="/faq/">FAQ page</a> for more information.</p>
            </div>
        </section>
    </main>
    {% endblock %}
</body>
</html>