{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>{% trans 'Synaptic - our staff' %}</title>{% endblock %}
</head>
<body>
    {% block content %}
    <main>
        {% for staff in staff_members %}
        <section class="our-team">
            <div class="team-person">
                <h2 class="name">{{ staff.name }}</h2><p class="staff-title">{{ staff.title }}</p>
                <p class="cv">{{ staff.description }}</p>
            </div>
            <img src="{{ staff.staff_image.url }}" alt="" class="profile-pic">
        </section>
        {% endfor %}
    </main>
    {% endblock %}
    
</body>
</html>