{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>{% trans 'Synaptic - our staff' %}</title>{% endblock %}
</head>
<body>
    {% block content %}
    <main>
        <section class="our-team">
            {% for staff in staff_members %}
            <a href="{% url 'staff_detail' staff.id %}">
                <div class="team-person">
                    <img src="{{ staff.staff_image.url }}" alt="" class="small-profile-pic">    
                    <h2 class="name">{{ staff.name }}</h2>
                    <p class="staff-title">{{ staff.title }}</p>
                </div>
            </a>
            {% endfor %}
        </section>
    </main>
    {% endblock %}
    
</body>
</html>