{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    {% block title %}<title>{% trans 'SYNAPTIC - about our clinic' %}</title>{% endblock %}
</head>
<body>
{% block content %}
<main>
    <div class="image-overlay-container">
        <img src="{% static 'images/freedom.jpg' %}" alt="" class="about-main-img">
        <h2 class="overlay-text">{% trans 'Our treatments' %}</h2>
    </div>
    <div class="about-main">
        <div class="about-text">
            <p>{% trans "At Synaptic Mindcare, we offer tailored treatment programs that span a wide spectrum of psychiatric diagnoses, including depression, anxiety, neuro-psychiatric disorders, geriatric psychiatry and addictive disorders." %}</p>
            <p>{% trans "Our treatments include evidence-based methods that are always adapted to each patient’s specific and unique needs and development. Our team has a rich and broad competence and long experience, with backgrounds in both Sweden and Greece. By integrating different fields of expertise, we ensure that each patient receives thorough and empathetic care on their journey to recovery." %}</p>
            
            <h3>{% trans 'Treatments' %}</h3>
            <div class="treatment-li"><p>{% trans 'Pharmacological treatment for difficult-to-treat depression, anxiety, neuro-psychiatric disorders, geriatric psychiatry and addictive disorders.' %}</p></div>
            <div class="treatment-li"><p>{% trans 'Oral pharmacological treatment for difficult-to-treat depression, ketamine IV or ECT.' %}</p></div>
            <div class="treatment-li">{% trans 'Withdrawal treatment for various addictive disorders.' %}</div>
            <div class="treatment-li">{% trans 'Regular testing to ensure patient safety.' %}</div>
            <div class="treatment-li">{% trans 'Assessment of co-morbidity with other psychiatric disorders and initiation of pharmacological treatment.' %}</div>
            <div class="treatment-li">{% trans 'Neuro-psychiatric assessment for differential diagnostic purposes and commencement of medication if needed.' %}</div>
            
            <h3>{% trans 'Team of doctors' %}</h3>
            <p>{% trans 'Currently we have 4 psychiatrists on site (two of these are Swedish citizens and trained in Sweden). In additions to this, two psychiatrists are available for digital sessions. These two will sometimes also be present on site.' %}</p>

            <h3>{% trans 'Other staff on site' %}</h3>
            <div class="staff-on-site">
                <div class="staff-site-member"><p>{% trans 'Therapist with specialist training in the 12-step program.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Psychologist and occupational therapist (English speaking, recruitment of Swedish speaking staff is ongoing).' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Yoga instructor (part-time 3 times a week plus weekends for those patients who are not participating in outings).' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Contact person (Swedish speaking).' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Minibus with driver.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Physiotherapist for medicinal massage.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Art therapy.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Crafts.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Discussion and reading groups.' %}</p></div>
                <div class="staff-site-member"><p>{% trans 'Film group.' %}</p></div>
            </div>

            <div class="schedule-timeline">
                <h3>{% trans 'Daily schedule' %}</h3>
                <ul class="timeline">
                    <li><span>{% trans 'Breakfast.' %}</span></li>
                    <li><span>{% trans 'Medical round.' %}</span></li>
                    <li><span>{% trans 'Visit to doctor.' %}</span></li>
                    <li><span>{% trans 'Talk with psychologist/occupational therapist.' %}</span></li>
                    <li><span>{% trans 'Lunch.' %}</span></li>
                    <li><span>{% trans 'Rest.' %}</span></li>
                    <li><span>{% trans '12-step treatment (5 times per week).' %}</span></li>
                    <li><span>{% trans 'Yoga (3 times per week).' %}</span></li>
                    <li><span>{% trans 'Weekend activities include excursions, always accompanied by staff. These excursions are of a therapeutic and/or cultural nature.' %}</span></li>
                </ul>
            </div>
        
        </div>
    </div>

</main>
{% endblock %}
</body>
</html>